#greet-box {
    height: auto;
    width: auto;
    max-width: 300px;
    border: 1px solid black;
    padding: 100px;
    display: flex;
    margin-top: 10vh;
    background-color: #10d1ba;
    font-size: 3rem;
    text-align: center;
}

